<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mybatis.mapper.UserMapper">
    <select id="findById" resultType="User">
        select * from user where id = #{id}
    </select>

    <select id="findByName" resultType="User">
        select * from user
        where 1=1
        and `name` like #{name}
    </select>

    <select id="findByNameAndAge" resultType="User">
        select * from user
        <where>
            <if test="name != null and name != ''">
                `name` like "%"#{name}"%"
            </if>
            <if test="ageMin!=null and ageMin!=''">
                and age >= #{ageMin}
            </if>
            <if test="ageMax!=null and ageMax!=''">
                and age &lt;= #{ageMax}
            </if>
        </where>
    </select>
</mapper>